/* Product Table Styling */
table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
  font-family: Arial, sans-serif;
}

th,
td {
  padding: 12px;
  text-align: left;
  border: 1px solid #ddd;
}

th {
  background-color: yellowgreen;
  color: white;
}

td {
  background-color: #f9f9f9;
}

tr:nth-child(even) td {
  background-color: #f2f2f2;
}

button {
  padding: 6px 12px;
  background-color: rosybrown;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 14px;
  border-radius: 4px;
  margin-left: 10px;
}

button:hover {
  background-color: rgb(155, 119, 119);
}
